

@import url('https://fonts.googleapis.com/css?family=Poppins:300i,400&display=swap');

body, html {
		font-family: 'Poppins', sans-serif;
		top:0;
		left:0;
		width:100%:;
		margin:0%;
		scroll-behavior: smooth;
	}

	h1 {
		font-size:1em;
		background-color:#ebebe0;
	}



	.sticky {
		position:fixed;
		bottom:2%;
		left:2%;
		color:#2e2e1f;
		border-bottom:1em solid #2e2e1f;
		padding:10px;
	}
	/*sticky elements are relative to the parent! */

	.jump{
		color:#2e2e1f;
	}

	.jump:visited {
		color:#2e2e1f;
	}

	.exercise {
		top: 0;
		left:0%;
		
	}

	.content {
		padding:5%;
		width:90%;
		min-height:100vh;
		max-height:content;
		text-align:right;
	}

	.content h1 {
		font-size:3em;
		font-weight:400;
		text-align:left;
		opacity:1;
	}

	.content p {
		font-size:3em;
		color:#2e2e1f;
	}

		#smaller{
		font-size: 2em;
	}

	.content img {
		width:50%;
		transition:0.25s ease-in-out;
	}

	#one, #three {
		background: rgb(123,149,113);
		background: linear-gradient(0deg, rgba(123,149,113,1) 0%, rgba(160,190,130,1) 100%);
		color:	 #2e2e1f;
	}

	#two, #four {
		background-color:#ebebe0;

	}

	a {
		background-color:#ebebe0;
		padding:2%;
		border:solid #6a6a48;
		text-decoration: none;
		color:color: #2e2e1f;;
		transition:0.25s ease-in-out;
		display: block;
    	width: fit-content;
	}

	a:hover{ 
	color: #6a6a48; 
}

	a:visited{
	text-decoration:none
	color: #6a6a48;
	}