body, html {
font-family: 'Helvetica Neue', sans-serif;
top: 0;
left: 0;
margin: 0;
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.centered{
max-width: 80%;

}

h1{

}


.section{
	background-color: black;
	color: white;
	border-left: 0.5em solid yellow;
	width: 20em;
	height: 15em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s ease-in-out;

}

.section:hover{
	background-color:white;
	color:black;

}

.section h1{
/*text-align:center; this won't work if I want it to be horizontally centered as well. Needs the flex or inline-flex.*/
}

a{
	text-decoration: none;
}