

.section{
	width: 25%;
	margin: 4% 2%;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	vertical-align: top;
}

.section h1{
	font-size: 0.9em;
}

.section .hr {
	width: 100%;
	border-top: 0.5em solid 
}

.section p{
	font-size: 0.85em;
	line-height: 1.2em;
}