@font-face {
    font-family: 'made_dillanregular';
    src: url('font/made_dillan-webfont.woff2') format('woff2'),
         url('font/made_dillan-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
  padding: 0;
  margin: 0;
}

body, html {
		font-family: 'made_dillanregular';
overflow-x:scroll;
overflow-y:hidden;
	}


.container{
	display:grid;
	grid-template-rows: 70px 3fr 1fr;
	grid-template-columns: 4fr 3fr;
	height:100vh;

}

#logo{
	position: relative;
	left:-86px;
	top:-41.5px;
}

#one{
background-color:#CCAB82;
grid-column: 1/2;
grid-row: 1/4;
}

.one{
	display:flex;
	flex-direction: column;
	padding: 50px 170px 0px 100px;
}

#two{
background-color:#EFECE7;
grid-column: 2/3
grid-row:1/3;
}

.two{
display:flex;
flex-direction: column;
padding: 50px 100px 0px 100px;
overflow-x: scroll;
}


#three{
background-color:#5860F2;
grid-column: 2/3
grid-row:3/4;	
}

.three{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.top-bar{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	background-color: #EFECE7;
	padding: 30px 20px 30px 20px;
}

.top-bar1, .top-bar2{
display: inline-block;
line-height: 1.333em;
}


h1{
	font-size: 4.209em;
	margin-bottom: 20px;
	color: #3C3123;
}



p{
	font-size: 1.333em;
	color: #3C3123;
}

#kangaroo-card, #joey-card{
	text-transform: capitalize;
	margin-bottom: -10px;
	font-size: 2.369em;
	color:#3C3123;
}

.meaning-card{
	overflow-x: scroll;
	min-height: content;
	max-height:150px;
}

.firstp{
		color:#7F24A6;
		font-size: 1.777em;

}

.secondp{
	color: #686BA6;
	margin-bottom: 150px;
	font-size: 1.777em;

}

#previous-word{
	font-size: 1em;
	text-transform: uppercase;
}

#next-word{
	font-size: 1em;
	text-transform: uppercase;
}



#typeof{
	display:flex;
	font-size:1em;
text-transform: uppercase;
position: relative;
margin: 50px 0px 30px 0px;

	}

#typeof::before{
	content: url('images/arrow2.gif');
margin-top:-14px;
margin-right: 14px;
}

	


.arrowlink{
	color:#EFECE7;
	display:block;
	font-size:1.333em;
}

.arrowlink::after {
  content: url('images/arrow.gif');
}


  a {
  color:#EFECE7;
  display:block;
  font-size:1.333em;
  text-decoration: none;
  }

  a:hover{ 
  color:#A57E4D;
}


