@font-face {
    font-family: 'made_dillanregular';
    src: url('font/made_dillan-webfont.woff2') format('woff2'),
         url('font/made_dillan-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html {
		font-family: 'made_dillanregular';
		top:0;
		left:0;
		width:100%;
		margin:0%;
		scroll-behavior: smooth;
	}


.container{
	top: 0;
	left:0%;
width: 100vw;
height:100vh;
overflow-y: hidden;
overflow-x: scroll;
scroll-snap-type: x mandatory;


}

#logo{
	position: relative;
	left:-88px;
	top:-90px;
}

#main-kangaroo, #main-anti, #main-twin, #main-opposite, #main-grand{
	background-color:#EFECE7;
	padding:60px;
	flex:1 1 26%;
}


#one, #two, #three, #four, #five{
		min-height:100vh;
		max-height:content;
		display:flex;
		flex-direction: row;
  	
 
		
}

#sidebar-kangaroo{
	padding:100px;
	width:450px;
	background-color:#5860F2 /*#3C3123*/;
	color: #EFECE7;
	scroll-snap-align: start;

}



#sidebar-anti{
	padding:100px;
	width:450px;
	background-color:#BF068E;
	color: #EFECE7;
scroll-snap-align: start;
}


#sidebar-twin{
	padding:100px;
	width:400px;
	background-color:#686BA6;
	color: #EFECE7;
scroll-snap-align: start;
}



#sidebar-opposite{
	padding:100px;
	width:300px;
	background-color:#7F24A6;
	color: #EFECE7;
scroll-snap-align: start;
}


#sidebar-grand{
	padding:100px;
	width:280px;
	background-color:#D90479;
	color: #EFECE7;
scroll-snap-align: start;
}

h1 {
		font-size:3.157em;
		color:#EFECE7;
		margin-bottom: 20px;
	}

	h2{
		margin-bottom: -30px;
		color: #3C3123;
	}

	p{
		font-size:1.333em;
		margin-bottom: 150px;
		/*color:#3C3123;*/
	}


.arrowlink{
	color:#EFECE7;
	display:block;
	font-size:1.333em;
}

.arrowlink::after {
  content: url('images/arrow.gif');
}


	a {
	color:#EFECE7;
	display:block;
	font-size:1.333em;
	text-decoration: none;
	}

	a:hover{ 
	color:#CCAB82;
}
