@font-face {
    font-family: 'made_dillanregular';
    src: url('font/made_dillan-webfont.woff2') format('woff2'),
         url('font/made_dillan-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html {
		font-family: 'made_dillanregular';
	}


.intro-section{

}

.card {
	background-color: #f2f2f2;
	width: 30%;
	height: 30vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2%;
	display: inline-block;
	vertical-align: top;
}