body, html {
	font-family: 'Helvetica Neue', sans-serif;
}

.card {
	background-color: #f2f2f2;
	width: 30%;
	height: 30vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2%;
	display: inline-block;
	vertical-align: top;
}